useDynLib(tobitnet)
import(stats)
importFrom(Rcpp, sourceCpp)
importFrom(graphics, abline, arrows, matplot, text)
export(tobitnet, cv.tobitnet, tobitscad, cv.tobitscad)
S3method(predict, tobitnet)
S3method(plot, tobitnet)
S3method(plot, cv.tobitnet)
S3method(predict, tobitscad)
S3method(plot, tobitscad)
S3method(plot, cv.tobitscad)